<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 商品管理的service -->
    <bean id="itemsService" class="com.fym.learnspring.service.impl.ItemsServiceImpl"/>


    <bean id="OutputHelper" class="com.fym.learnspring.controller.OutputHelper">
        <property name="outputGenerator" ref="JsonOutputGenerator" />
    </bean>

    <bean id="CsvOutputGenerator" class="com.fym.learnspring.controller.CsvOutputGenerator" />
    <bean id="JsonOutputGenerator" class="com.fym.learnspring.controller.JsonOutputGenerator" />
</beans>